
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Home.cshtml";
}
@model btlAspnet.Models.DataModels.Product
<div class="breadcrumb-area pt-65 pb-70 bg-img" style="background-image:url(~/home/img/bg-image/hop-brech-bg.jpg);">
    <div class="container">
        <div class="breadcrumb-wrap text-center">
            <h3>Product Details</h3>
            <ol class="breadcrumb breadcrumb-list">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Product Details</li>
            </ol>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- Product Thumbnail Start -->
<div class="main-product-thumbnail white-bg pt-90 pb-90">
    <div class="container">
        <div class="row">
            <!-- Main Thumbnail Image Start -->
            <div class="col-lg-5 col-md-6 mb-all-40">
                <!-- Thumbnail Large Image start -->
                <div class="tab-content">
                    <div id="thumb1" class="tab-pane fade show active">
                        <a data-fancybox="images" href="img/products/p2.jpg"><img src="~/images/@Model.Image" alt="product-view"></a>
                    </div>
                </div>
                <!-- Thumbnail Large Image End -->
                <!-- Thumbnail Image End -->
                
                <!-- Thumbnail image end -->
            </div>
            <!-- Main Thumbnail Image End -->
            <!-- Thumbnail Description Start -->
            <div class="col-lg-7 col-md-6">
                <div class="thubnail-desc fix">
                    <h3 class="product-header">@Model.ProductName</h3>
                    <ul class="rating-summary">
                        <li class="rating-pro">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </li>
                        <li class="read-review"><a href="#">read reviews (1)</a></li>
                        <li class="write-review"><a href="#">write review</a></li>
                    </ul>
                    <div class="pro-price mt-10">
                        <p class="d-flex align-items-center"><span class="prev-price">$@Model.PriceOld</span><span class="price">$@Model.Price</span><span class="saving-price">-5%</span></p>
                    </div>
                    <p class="pro-desc-details">Faded short sleeves t-shirt with high neckline. Soft and stretchy material for a comfortable fit. Accessorize with a straw hat and you're ready for summer!</p>
                    <div class="product-size mtb-30 clearfix">
                        <label>Size</label>
                        <select class="">
                            <option>S</option>
                            <option>M</option>
                            <option>L</option>
                        </select>
                    </div>
                    <div class="color clearfix mb-30">
                        <label>color</label>
                        <ul class="color-list">
                            <li>
                                <a class="white" href="#"></a>
                            </li>
                            <li>
                                <a class="orange active" href="#"></a>
                            </li>
                            <li>
                                <a class="paste" href="#"></a>
                            </li>
                        </ul>
                    </div>
                   
                    <div class="quatity-stock">
                        <label>Quantity</label>
                        <ul class="d-flex flex-wrap  align-items-center">
                            <li class="box-quantity">
                                <form action="#">
                                    <input class="quantity" type="number" min="1" value="1">
                                </form>
                            </li>
                            <li>
                                <button class="pro-cart">add to cart</button>
                            </li>
                            <li class="pro-ref">
                                <p><span class="in-stock"><i class="ion-checkmark-round"></i> in stock</span></p>
                            </li>
                        </ul>
                    </div>
                    <div class="social-sharing mt-30">
                        <ul>
                            <li><label>share</label></li>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Thumbnail Description End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Product Thumbnail End -->
<!-- Product Thumbnail Description Start -->
<div class="thumnail-desc white-bg">
    <div class="container">
        <div class="thumb-desc-inner">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="main-thumb-desc nav tabs-area" role="tablist">
                        <li><a class="active" data-toggle="tab" href="#dtail">Description</a></li>
                        <li><a data-toggle="tab" href="#review">Reviews 1</a></li>
                    </ul>
                    <!-- Product Thumbnail Tab Content Start -->
                    <div class="tab-content thumb-content">
                        <div id="dtail" class="tab-pane fade show active">
                            <p>@Html.Raw(Model.Description)</p>
                        </div>
                        <div id="review" class="tab-pane fade">
                            <!-- Reviews Start -->
                            <div class="review">
                                <div class="group-title">
                                    <h2>customer review</h2>
                                </div>
                                <h4 class="review-mini-title">Hopsop</h4>
                                <ul class="review-list">
                                    <!-- Single Review List Start -->
                                    <li>
                                        <span>Quality</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <label>Hopsop</label>
                                    </li>
                                    <!-- Single Review List End -->
                                    <!-- Single Review List Start -->
                                    <li>
                                        <span>price</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <label>Review by <a href="#">Hopsop</a></label>
                                    </li>
                                    <!-- Single Review List End -->
                                    <!-- Single Review List Start -->
                                    <li>
                                        <span>value</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <label>Posted on 12/20/18</label>
                                    </li>
                                    <!-- Single Review List End -->
                                </ul>
                            </div>
                            <!-- Reviews End -->
                            <!-- Reviews Start -->
                            <div class="review mt-30">
                                <h2 class="review-title mb-30">You're reviewing: <br><span>Faded Short Sleeves T-shirt</span></h2>
                                <p class="review-mini-title">your rating</p>
                                <ul class="review-list">
                                    <!-- Single Review List Start -->
                                    <li>
                                        <span>Quality</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                    <!-- Single Review List End -->
                                    <!-- Single Review List Start -->
                                    <li>
                                        <span>price</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                    <!-- Single Review List End -->
                                    <!-- Single Review List Start -->
                                    <li>
                                        <span>value</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                    <!-- Single Review List End -->
                                </ul>
                                <!-- Reviews Field Start -->
                                <div class="riview-field mt-40">
                                    <form autocomplete="off" action="#">
                                        <div class="form-group">
                                            <label class="req" for="sure-name">Name</label>
                                            <input type="text" class="form-control" id="sure-name" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label class="req" for="subject">Title of review</label>
                                            <input type="text" class="form-control" id="subject" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label class="req" for="comments">Your Review</label>
                                            <textarea class="form-control" rows="5" id="comments" required="required"></textarea>
                                        </div>
                                        <button type="submit" class="customer-btn">Submit</button>
                                    </form>
                                </div>
                                <!-- Reviews Field Start -->
                            </div>
                            <!-- Reviews End -->
                        </div>
                    </div>
                    <!-- Product Thumbnail Tab Content End -->
                </div>
            </div>
            <!-- Row End -->
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Product Thumbnail Description End -->
<div class="best-seller-area pt-80 pb-90">
    <div class="container">
        <div class="section-title text-center mb-45">
            <h2>Related product</h2>
        </div>
        <div class="best-seller-active owl-carousel">
            @foreach (var pc in ViewBag.ProductInCategory)
            {
                <div class="single-aboss-product" id="_@pc.Id">
                    <div class="pro-img">
                        <a href="product-details.html"><img src="~/images/@pc.Image" alt="product-img"></a>
                        <div class="pro-actions">
                            <a data-toggle="modal" data-target="#product-window_@pc.Id" class="quick-view" href="#"><i class="icon-search"></i></a>
                        </div>
                    </div>
                    <div class="pro-content">
                        <h4><a href="product-details.html">@pc.ProductName</a></h4>
                        <div class="pro-price-cart">
                            <div class="pro-home-price">
                                <span>$@pc.Price</span>
                            </div>
                            <div class="pro-cart">
                                <a title="Add To Cart" href="#"><i class="icon-cart"></i></a>
                                <a title="Wishlist" href="#"><i class="icon-like"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        
    </div>
</div>

