@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="breadcrumb-area pt-65 pb-70 bg-img" style="background-image:url(img/bg-image/hop-brech-bg.jpg);">
    <div class="container">
        <div class="breadcrumb-wrap text-center">
            <h3>About Us</h3>
            <ol class="breadcrumb breadcrumb-list">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">about us</li>
            </ol>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- About Us Area Start -->
<div class="skill-area white-bg ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-content mb-all-40">
                    <!-- Section Title Start -->
                    <div class="section-title section-heading">
                        <h2>SOME WORD’S <span>ABUOT US</span></h2>
                    </div>
                    <!-- Section Title End -->
                    <p class="mb-20">Rian must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure</p>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia sequuntur magni dolores eos qui ratione em </p>
                    <a class="login-btn" href="#">Read more</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="skill-content">
                    <div class="skill">
                        <div class="progress">
                            <div class="lead">UI & UX DESIGN</div>
                            <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 85%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="90%" class="progress-bar wow fadeInLeft animated"><span>85%</span></div>
                        </div>
                        <div class="progress">
                            <div class="lead">WEB DESIGN</div>
                            <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 90%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="70%" class="progress-bar wow fadeInLeft animated"><span>90%</span></div>
                        </div>
                        <div class="progress">
                            <div class="lead">APPS DESIGN</div>
                            <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 75%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="60%" class="progress-bar wow fadeInLeft animated"><span>75%</span></div>
                        </div>
                        <div class="progress">
                            <div class="lead">SKETCH DESIGN</div>
                            <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 68%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="80%" class="progress-bar wow fadeInLeft animated"><span>68%</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Us Area End -->
<!-- Our Team Star Here -->
<div class="our-team pb-70">
    <div class="container">
        <div class="section-title mb-45">
            <h2>Our Team</h2>
        </div>
        <div class="row text-center">
            <!-- Single Team Start Here -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="single-team mb-all-30">
                    <div class="team-img sidebar-img sidebar-banner">
                        <a href="#"><img src="img/team/2.jpg" alt="team-image"></a>
                        <div class="team-link">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-info">
                        <h4>Marcos Alonso</h4>
                        <p>web designer</p>
                    </div>
                </div>
            </div>
            <!-- Single Team End Here -->
            <!-- Single Team Start Here -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="single-team mb-all-30">
                    <div class="team-img sidebar-img sidebar-banner">
                        <a href="#"><img src="img/team/1.jpg" alt="team-image"></a>
                        <div class="team-link">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-info">
                        <h4>Luis Aragones</h4>
                        <p>web developer</p>
                    </div>
                </div>
            </div>
            <!-- Single Team End Here -->
            <!-- Single Team Start Here -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="single-team mb-xxs-30">
                    <div class="team-img sidebar-img sidebar-banner">
                        <a href="#"><img src="img/team/3.jpg" alt="team-image"></a>
                        <div class="team-link">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-info">
                        <h4>Maria Alessis</h4>
                        <p>class master</p>
                    </div>
                </div>
            </div>
            <!-- Single Team End Here -->
            <!-- Single Team Start Here -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="single-team">
                    <div class="team-img sidebar-img sidebar-banner">
                        <a href="#"><img src="img/team/4.jpg" alt="team-image"></a>
                        <div class="team-link">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-info">
                        <h4>John Doe</h4>
                        <p>php developer</p>
                    </div>
                </div>
            </div>
            <!-- Single Team End Here -->
        </div>
    </div>
</div>
<!-- Our Team End Here -->
<!-- Brand Area Start Here -->
<div class="brand pb-90">
    <div class="container">
        <!-- Brand Logo Active Start Here -->
        <div class="brand-logo-active brand-brown-color owl-carousel ptb-80 border-top border-bottom">
            <div class="single-brand">
                <a href="#"><img src="img/brand/brand-1.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/brand-2.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/brand-3.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/brand-4.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/brand-5.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/brand-2.png" alt="brand-image"></a>
            </div>
        </div>
        <!-- Brand Logo Active End Here -->
    </div>
</div>