<div class="breadcrumb-area pt-65 pb-70 bg-img" style="background-image:url(img/bg-image/hop-brech-bg.jpg);">
            <div class="container">
                <div class="breadcrumb-wrap text-center">
                    <h3>Blog</h3>
                    <ol class="breadcrumb breadcrumb-list">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">blog</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Blog Area Start -->
        <div class="blog-area pt-90 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="single-blog-wrapper mb-70">
                            <div class="blog-img">
                                <a href="blog-details.html">
                                    <img alt="" src="img/blog/hop-blog4.jpg">
                                </a>
                            </div>
                            <div class="blog-content">
                                <h3><a href="blog-details.html">There are many variations of passages of Lorem Ipsum available.</a></h3>
                                <div class="blog-date-admin text-center">
                                    <ul>
                                        <li>26 june 2018 </li>
                                        <li>
                                            <a href="#">By: Tomas Doe </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="blog-peragraph">
                                    <p>Randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                                </div>
                                <div class="blog-btn text-center">
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-blog-wrapper mb-70">
                            <div class="blog-slider-active owl-carousel nav-style">
                                <a href="blog-details.html"><img alt="" src="img/blog/hop-blog4.jpg"></a>
                                <a href="blog-details.html"><img alt="" src="img/blog/blog-gallery-2.jpg"></a>
                                <a href="blog-details.html"><img alt="" src="img/blog/blog-gallery-3.jpg"></a>
                            </div>
                            <div class="blog-content">
                                <h3><a href="blog-details.html">There are many variations of passages of Lorem Ipsum available.</a></h3>
                                <div class="blog-date-admin text-center">
                                    <ul>
                                        <li>26 june 2018 </li>
                                        <li>
                                            <a href="#">By: Tomas Doe </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="blog-peragraph">
                                    <p>Randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                                </div>
                                <div class="blog-btn text-center">
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-blog-wrapper mb-70">
                            <div class="sound-cloud embed-responsive embed-responsive-16by9">
                                <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/254172576&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
                            </div>
                            <div class="blog-content">
                                <h3><a href="blog-details.html">There are many variations of passages of Lorem Ipsum available.</a></h3>
                                <div class="blog-date-admin text-center">
                                    <ul>
                                        <li>26 june 2018 </li>
                                        <li>
                                            <a href="#">By: Tomas Doe </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="blog-peragraph">
                                    <p>Randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                                </div>
                                <div class="blog-btn text-center">
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-blog-wrapper mb-70">
                            <div class="youtube-video embed-responsive embed-responsive-16by9">
                                <iframe src="https://www.youtube.com/embed/nPOO1Coe2DI"></iframe>
                            </div>
                            <div class="blog-content">
                                <h3><a href="blog-details.html">There are many variations of passages of Lorem Ipsum available.</a></h3>
                                <div class="blog-date-admin text-center">
                                    <ul>
                                        <li>26 june 2018 </li>
                                        <li>
                                            <a href="#">By: Tomas Doe </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="blog-peragraph">
                                    <p>Randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                                </div>
                                <div class="blog-btn text-center">
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-blog-wrapper">
                            <div class="blockquote">
                                <a href="blog-details.html">Lorem ipsum dolor sit amet, consecte adipic elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="blog-sidebar">
                            <div class="sidebar-search mb-55">
                                <form class="header-search-form" action="#">
                                    <input type="text" placeholder="Type key word">
                                    <button>
                                        <i class="icon-search"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="most-view-area mb-55">
                                <div class="blog-sidebar-title mb-35">
                                    <h4>Most View</h4>
                                </div>
                                <div class="most-view-wrap">
                                    <div class="single-most-view">
                                        <div class="single-most-view-img">
                                            <a href="#"><img alt="brand-image" src="img/blog/hop-blog1.png"></a>
                                        </div>
                                        <div class="single-most-view-content">
                                            <h5><a href="#">Variations of passages Ipsum available</a></h5>
                                            <div class="most-view-date">
                                                <h5><span>19 </span> July</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-most-view">
                                        <div class="single-most-view-img">
                                            <a href="#"><img alt="brand-image" src="img/blog/hop-blog2.png"></a>
                                        </div>
                                        <div class="single-most-view-content">
                                            <h5><a href="#">Variations of passages Ipsum available</a></h5>
                                            <div class="most-view-date">
                                                <h5><span>26 </span> June</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-most-view">
                                        <div class="single-most-view-img">
                                            <a href="#"><img alt="brand-image" src="img/blog/hop-blog3.png"></a>
                                        </div>
                                        <div class="single-most-view-content">
                                            <h5><a href="#">Variations of passages Ipsum available</a></h5>
                                            <div class="most-view-date">
                                                <h5><span>26 </span> October</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slidebar-catigory mb-60">
                                <div class="blog-sidebar-title mb-30">
                                    <h4>Categories</h4>
                                </div>
                                <div class="sidebar-catigory-content">
                                    <ul>
                                        <li><a href="#">PACKING ORGANIZERS</a></li>
                                        <li><a href="#">TOILETRY BAGS</a></li>
                                        <li><a href="#">PASSPORT WALLETS</a></li>
                                        <li><a href="#">LUGGAGE CARTS</a></li>
                                        <li><a href="#">LUGGAGE LOCKS</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="hop-single-banner mb-55">
                                <a href="#">
                                    <img src="img/blog/blog-banner.png" alt="">
                                </a>
                            </div>
                            <div class="instragram mb-50">
                                <div class="blog-sidebar-title mb-35">
                                    <h4>Instagram</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><img src="img/instagram/i1.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="img/instagram/i2.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="img/instagram/i3.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="img/instagram/i4.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="img/instagram/i5.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="img/instagram/i6.jpg" alt=""></a></li>
                                </ul>
                            </div>
                            <div class="blog-tag">
                                <div class="blog-sidebar-title mb-40">
                                    <h4>Popular Tags</h4>
                                </div>
                                <ul>
                                    <li><a href="#">Travel</a></li>
                                    <li><a href="#">Product</a></li>
                                    <li><a href="#">Bags</a></li>
                                    <li><a href="#">Photography</a></li>
                                    <li><a href="#">Image</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Area End -->