<div class="breadcrumb-area pt-65 pb-70 bg-img" style="background-image:url(img/bg-image/hop-brech-bg.jpg);">
    <div class="container">
        <div class="breadcrumb-wrap text-center">
            <h3>Contact us</h3>
            <ol class="breadcrumb breadcrumb-list">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Contact us</li>
            </ol>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- Google Map Start -->
<div class="goole-map">
    <div id="map" style="height:600px"></div>
</div>
<!-- Google Map End -->
<!-- Regester Page Start Here -->
<div class="register-area white-bg ptb-80">
    <div class="container">
        <h3 class="login-header">Contact us</h3>
        <div class="row">
            <div class="col-xl-12">
                <div class="register-contact  clearfix">
                    <form id="contact-form" class="contact-form" action="https://preview.hasthemes.com/hopsop-v4/mail.php" method="post">
                        <div class="address-wrapper row">
                            <div class="col-md-12">
                                <div class="address-fname">
                                    <input class="form-control" type="text" name="name" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="address-email">
                                    <input class="form-control" type="email" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="address-web">
                                    <input class="form-control" type="text" name="website" placeholder="Website">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="address-subject">
                                    <input class="form-control" type="text" name="subject" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="address-textarea">
                                    <textarea name="message" class="form-control" placeholder="Write your message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="footer-content mail-content clearfix">
                            <div class="send-email float-md-right">
                                <input value="Submit" class="return-customer-btn" type="submit">
                            </div>
                        </div>
                        <p class="form-message"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Page End Here -->