
@{
    ViewData["Title"] = "Calendar";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
<div class="page-container relative h-full flex flex-auto flex-col px-4 sm:px-6 md:px-8 py-4 sm:py-6">
    <div class="container mx-auto">
        <div class='calendar'>
            <div id='calendar'></div>
        </div>
    </div>
</div>