
@{
    ViewData["Title"] = "Issue";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
<div class="page-container relative h-full flex flex-auto flex-col px-4 sm:px-6 md:px-8 py-4 sm:py-6">
    <div class="container mx-auto">
        <div class="grid md:grid-cols-1 lg:grid-cols-3 gap-4">
            <div class="lg:col-span-2">
                <div class="card !border-y-0 ltr:!border-r-0 rtl:!border-l-0 ltr:md:!border-l-0 ltr:md:!border-r rtl:md:!border-r-0 rtl:md:!border-l md:border-gray-200 md:dark:border-gray-600 rounded-tr-none rounded-br-none rtl:rounded-tr-none rtl:rounded-br-none">
                    <div class="card-body card-gutterless p-5">
                        <div class="flex flex-col md:flex-row md:items-center justify-between gap-4">
                            <div>
                                <h3 class="mb-2 font-bold">API not working</h3>
                                <p>
                                    <span>#PD-127 created by</span>
                                    <span class="font-semibold text-gray-900 dark:text-gray-100 mx-1 cursor-pointer">
                                        Carolyn Perkins
                                    </span>
                                </p>
                            </div>
                            <button class="btn btn-default">
                                <span class="flex items-center justify-center">
                                    <span class="text-lg">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
                                        </svg>
                                    </span>
                                    <span class="ltr:ml-1 rtl:mr-1">Edit</span>
                                </span>
                            </button>
                        </div>
                        <hr class="my-6">
                        <div class="text-base">
                            <div class="prose dark:prose-invert max-w-none">
                                <p>
                                    Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to
                                    corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow
                                    the holistic world view of disruptive innovation via workplace diversity and empowerment.
                                </p>
                                <p>
                                    Enslave the hooman pounce on unsuspecting person or tuxedo cats always looking dapper yet poop on grasses or
                                    growl at dogs in my sleep but love blinks and purr purr purr purr yawn.
                                </p>
                                <p>
                                    Decide to want nothing to do with my owner today being gorgeous with belly side up claw your carpet in places
                                    everyone can see - why hide my amazing artistic clawing skills?
                                </p>
                                <p>
                                    Bite nose of your human leave fur on owners clothes so scratch my tummy actually i hate you now fight me blow
                                    up sofa in 3 seconds.
                                </p>
                            </div>
                        </div>
                        <div class="mt-12">
                            <h4>Activity</h4>
                            <hr class="my-6">
                            <ul class="timeline">
                                <li class="timeline-item">
                                    <div class="timeline-item-wrapper">
                                        <div class="timeline-item-media">
                                            <div class="timeline-item-media-content">
                                                <span class="avatar avatar-circle bg-amber-500" data-avatar-size="30">
                                                    <img class="avatar-img avatar-circle" src="img/avatars/thumb-3.jpg" loading="lazy" alt="">
                                                </span>
                                            </div>
                                            <div class="timeline-connect"></div>
                                        </div>
                                        <div class="timeline-item-content">
                                            <p class="my-1 flex items-center">
                                                <span class="font-semibold text-gray-900 dark:text-gray-100">Frederick Adams</span>
                                                <span class="mx-2">added a comment </span>
                                                <span class="ml-3 rtl:mr-3">3h ago</span>
                                            </p>
                                            <div class="card mt-4 card-border">
                                                <div class="card-body">
                                                    <p>
                                                        Fine, Java MIGHT be a good example of what a programming language should be like. But Java
                                                        applications are good examples of what applications SHOULDN'T be like.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item w-full">
                                    <div class="timeline-item-wrapper">
                                        <div class="timeline-item-media">
                                            <div class="timeline-item-media-content">
                                                <span class="avatar avatar-circle text-gray-700 bg-gray-200 dark:text-gray-100 dark:bg-gray-600" data-avatar-size="30">
                                                    <span class="avatar-string">
                                                        <span class="text-xl">
                                                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path>
                                                            </svg>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="timeline-connect"></div>
                                        </div>
                                        <div class="timeline-item-content">
                                            <p class="my-1 flex items-center">
                                                <span class="font-semibold text-gray-900 dark:text-gray-100">
                                                    Carolyn Perkins
                                                </span>
                                                <span class="mx-2">assigned </span>
                                                <span class="font-semibold text-gray-900 dark:text-gray-100 mr-1 rtl:ml-1">
                                                    Frederick Adams
                                                    <span>,</span>
                                                </span>
                                                <span class="font-semibold text-gray-900 dark:text-gray-100 mr-1 rtl:ml-1">Joyce Freeman</span>
                                                <span>4h ago</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item">
                                    <div class="timeline-item-wrapper">
                                        <div class="timeline-item-media">
                                            <div class="timeline-item-media-content">
                                                <span class="avatar avatar-circle text-gray-700 bg-gray-200 dark:text-gray-100 dark:bg-gray-600" data-avatar-size="30">
                                                    <span class="avatar-string">
                                                        <span class="text-xl">
                                                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
                                                            </svg>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="timeline-connect"></div>
                                        </div>
                                        <div class="timeline-item-content">
                                            <div class="my-1 flex items-center">
                                                <span class="font-semibold text-gray-900 dark:text-gray-100">
                                                    Joyce Freeman
                                                </span>
                                                <span class="mx-2">added tags </span>
                                                <div class="tag mr-2 rtl:ml-2 cursor-pointer">
                                                    <span class="tag-affix tag-prefix bg-red-500"></span>
                                                    Bug
                                                </div>
                                                <div class="tag mr-2 rtl:ml-2 cursor-pointer">
                                                    <span class="tag-affix tag-prefix bg-amber-500"></span>
                                                    High priority
                                                </div>
                                                <span class="ml-3 rtl:mr-3">4h ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item">
                                    <div class="timeline-item-wrapper">
                                        <div class="timeline-item-media">
                                            <div class="timeline-item-media-content">
                                                <span class="avatar avatar-circle" data-avatar-size="30">
                                                    <img class="avatar-img avatar-circle" src="img/avatars/thumb-1.jpg" loading="lazy" alt="">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="timeline-item-content timeline-item-content-last">
                                            <p class="my-1 flex items-center">
                                                <span class="font-semibold text-gray-900 dark:text-gray-100">Carolyn Perkins</span>
                                                <span class="mx-2">added a comment </span>
                                                <span class="ml-3 rtl:mr-3">4h ago</span>
                                            </p>
                                            <div class="card mt-4 card-border">
                                                <div class="card-body">
                                                    <p>
                                                        Saying that Java is nice because it works on all OSes is like saying that anal sex is nice because it works on all genders.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="mt-6 mb-3 flex flex-auto">
                                <span class="avatar avatar-circle" data-avatar-size="30">
                                    <img class="avatar-img avatar-circle" src="img/avatars/thumb-1.jpg" loading="lazy">
                                </span>
                                <div class="ml-4 rtl:mr-4 w-full">
                                    <textarea class="input input-textarea" type="text" placeholder="Leave a comment"></textarea>
                                </div>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-solid">Comment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card !border-0">
                <div class="card-body card-gutterless p-5">
                    <h4 class="mb-6">Details</h4>
                    <span class="flex items-center gap-2 mb-4 text-emerald-500">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" class="text-lg" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd"></path>
                        </svg>
                        <span class="font-semibold">In Progress</span>
                    </span>
                    <span class="flex items-center gap-2 mb-4">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" class="text-lg opacity-70" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
                        </svg>
                        <span class="font-semibold">Sprint 2</span>
                    </span>
                    <span class="flex items-center gap-2 mb-4">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" class="text-lg opacity-70" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 6a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 100 4v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2a2 2 0 100-4V6z"></path>
                        </svg>
                        <span class="font-semibold cursor-pointer">Linked tickets</span>
                    </span>
                    <span class="flex items-center gap-2 mb-4">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" class="text-lg opacity-70" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z" clip-rule="evenodd"></path>
                        </svg>
                        <span class="font-semibold cursor-pointer">5 story point</span>
                    </span>
                    <span class="flex items-center gap-2 mb-4">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" class="text-lg opacity-70" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path>
                        </svg>
                        <span class="font-semibold">Created on Jan 22, 2023</span>
                    </span>
                    <hr class="my-6">
                    <p class="font-semibold mb-4">Assignees</p>
                    <span class="flex items-center gap-2 mb-4">
                        <span class="avatar avatar-circle" data-avatar-size="20">
                            <img class="avatar-img avatar-circle" src="img/avatars/thumb-8.jpg" loading="lazy">
                        </span>
                        <span class="font-semibold text-gray-700 dark:text-gray-100">Frederick Adams</span>
                    </span>
                    <span class="flex items-center gap-2 mb-4">
                        <span class="avatar avatar-circle" data-avatar-size="20">
                            <img class="avatar-img avatar-circle" src="img/avatars/thumb-5.jpg" loading="lazy">
                        </span>
                        <span class="font-semibold text-gray-700 dark:text-gray-100">Joyce Freeman</span>
                    </span>
                    <p class="font-semibold mb-4 mt-8">Tags</p>
                    <div class="tag mr-2 rtl:ml-2 cursor-pointer">
                        <span class="tag-affix tag-prefix bg-red-500"></span>
                        Bug
                    </div>
                    <div class="tag mr-2 rtl:ml-2 cursor-pointer">
                        <span class="tag-affix tag-prefix bg-amber-500"></span>
                        High priority
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

